body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  color: antiquewhite;
  
}

hr {
  border-top: 3px solid;
  color: red;
  width: 7%;
  border-radius: 100px ;
  text-align: center;
}

.buffer{
  height: 10rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  align-items: center;
}

.btn-danger{
  background-color: #EB5010;
  border: #EB5010;
}

.btn-danger:hover{
  background-color: salmon;
  border: 4px;
  border-color: salmon;
}